* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: cursive;
}

.App {
  height: 100vh;
  width: 100vw;
  background-color: #4121c4;
  display: flex;
  justify-content: center;
  align-items: center;
}

.container {
  min-height: 60%;
  width: 50%;
  background-color: #f2f2f2;
  border-radius: 1.8rem;
  box-shadow: 2px 2px 12px #fff;
  display: flex;
  justify-content: center;
  align-items: center;

  @media screen and (max-width: 700px) {
    width: 90%;
  }
}

.centerBox {
  display: flex;
  justify-content: center;
  align-items: center;
}

.flex-column {
  flex-direction: column;
}

.submitBtn {
  background-color: #4121c4;
  padding: 0.8rem 1.6rem;
  border: none;
  border-radius: 0.8rem;
  color: #ffff;
  font-size: 1.2rem;
  font-weight: 600;
  cursor: pointer;
  margin-bottom: 1rem;
}
